body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

nav {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav h2 {
    margin-right: auto;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.btn, button {
    background: #222;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.title {
    text-align: center;
    margin: 40px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    background: white;
    padding: 25px;
    width: 180px;
    text-align: center;
    box-shadow: 0 2px 8px #ccc;
}

#cart {
    width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
}